{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 180,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 180,
        "tabWidth": 2,
        "useTabs": true,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "semi": false
      }
    }
  ]
}